#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 10,0,5,0
 PRODUCTVERSION 10,0,5,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Road Desk"
            VALUE "FileDescription", "Road Desk Mirror Setup"
            VALUE "FileVersion", "10.0.5"
            VALUE "InternalName", "RoadDeskMirrorSetup"
            VALUE "LegalCopyright", "Road Desk"
            VALUE "OriginalFilename", "RoadDeskMirrorSetup.exe"
            VALUE "ProductName", "Road Desk Mirror Driver"
            VALUE "ProductVersion", "10.0.5"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
